apps/*test*
**test**
**volume**
.env
.test.env
**[Cc]onfig.yml
**[Tt]raefik.yml
**[Aa]cme.json
**/*.conf
**/*.cache
**env*
!**example*
data
data_test

# for /home/<user> if directly using other user home directory
.bash_logout
.bash_profile
.bashrc
.gitconfig
.cache
.config
.local
.p10k.zsh
.zcompdump
.zshrc
.viminfo
.lesshst
